* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}
.container {
  margin: 0 auto;
  width: 98%;
}
.main-container {
  display: flex;
  flex-direction: row;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #ff6672;
}
.header h1 {
  color: #5a5a5a;
  font-size: 50px;
}
.date-info p {
  font-size: 25px;
  text-align: right;
}
.services-section {
  width: 60%;
  margin: 15px 0 0 0;
}
.table {
  width: 40%;
  margin: 15px 0px 0px 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
  box-shadow: 0 5px 10px #99738e;
}
th {
  width: 100vw;
  height: 26px;
  background: #ff6672;
  letter-spacing: 2px;
  padding: 4px 7px;
  color: #fff;
}
td {
  width: 100vw;
  padding: 4px 7px;
  color: #fff;
}
td img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
}
tr:nth-child(even) {
  background-color: #553d67;
}
tr:nth-child(odd) {
  background-color: #99738e;
}
.upper-queues,
.lower-queues {
  width: 100%;
  height: 28%;
  display: flex;
  flex-direction: row;
}
.mobile-indicators {
  display: none;
}
.queue-indicators {
  width: 100%;
}
.queue-indicators img {
  width: 25px;
}
.queue-indicators ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0;
}
.queue-indicators ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.queue-indicators ul li p {
  padding-left: 8px;
}
.queue-1-wrapper,
.queue-2-wrapper,
.queue-3-wrapper,
.queue-4-wrapper {
  width: 50%;
}
.charts {
  display: flex;
  flex-direction: row;
}
#piechart_3d-outer,
#columnchart_material-outer {
  width: 50%;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 30%;
}
#piechart_3d,
#columnchart_material {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  margin: 10px 0;
}
.queue-1-bg,
.queue-2-bg,
.queue-3-bg,
.queue-4-bg {
  position: relative;
  margin: 0 5px;
  background: #553d67;
  border-radius: 7px;
  height: 100%;
  box-shadow: 0 2px 7px #99738e;
}
.queue-1-header,
.queue-2-header,
.queue-3-header,
.queue-4-header {
  height: 20%;
  width: 100%;
  background: #ff6672;
  border-radius: 7px 7px 0px 0px;
}
.queue-1,
.queue-2,
.queue-3,
.queue-4 {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
}
.queue-1-header p,
.queue-2-header p,
.queue-3-header p,
.queue-4-header p {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  padding: 6px;
}
.queue-1-content-left,
.queue-2-content-left,
.queue-3-content-left,
.queue-4-content-left {
  width: 35%;
  background: #99738e;
  border-radius: 0 0 0 7px;
  text-align: center;
}
.queue-1-content-left ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.queue-1-content-left li {
  list-style: none;
}
.paragraph-1 {
  width: 100%;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  padding: 12px 0;
}
.paragraph-2 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.paragraph-3 {
  color: #fff;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 300;
  padding: 7px 0;
}
.paragraph-4 {
  color: #fff;
  font-size: 13px;
  padding-bottom: 4px;
}
.queue-1-content-middle,
.queue-2-content-middle,
.queue-3-content-middle,
.queue-4-content-middle {
  width: 40%;
}
.icon-1 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 25%;
  left: 37%;
}
.icon-2 {
  position: absolute;
  width: 25px;
  top: 51%;
  left: 37%;
}
.icon-3 {
  position: absolute;
  width: 25px;
  top: 25%;
  right: 35%;
}
.icon-4 {
  position: absolute;
  width: 25px;
  top: 51%;
  right: 35%;
}
.icon-1-text {
  position: absolute;
  top: 27%;
  left: 47%;
  color: #fff;
}
.icon-2-text {
  position: absolute;
  top: 51%;
  left: 47%;
  color: #fff;
}
.icon-3-text {
  position: absolute;
  top: 27%;
  right: 27%;
  color: #fff;
}
.icon-4-text {
  position: absolute;
  top: 51%;
  right: 27%;
  color: #fff;
}
.paragraph-5 {
  position: absolute;
  top: 73%;
  left: 38%;
  color: #fff;
  text-transform: capitalize;
  font-size: 11px;
  font-weight: 300;
}
.paragraph-6 {
  position: absolute;
  top: 83%;
  left: 38%;
  color: #fff;
  text-transform: capitalize;
  font-size: 11px;
  font-weight: 400;
}
.paragraph-7 {
  position: absolute;
  top: 73%;
  right: 27%;
  color: #fff;
  text-transform: capitalize;
  font-size: 11px;
  font-weight: 300;
}
.paragraph-8 {
  position: absolute;
  top: 83%;
  right: 27%;
  color: #fff;
  text-transform: capitalize;
  font-size: 11px;
  font-weight: 400;
}
.queue-1-content-right,
.queue-2-content-right,
.queue-3-content-right,
.queue-4-content-right {
  width: 25%;
  text-align: center;
}
.paragraph-9 {
  width: 100%;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  padding: 12px 0;
}
.paragraph-10 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.paragraph-11 {
  color: #fff;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 300;
  padding: 7px 0;
}
.paragraph-12 {
  color: #fff;
  font-size: 13px;
  padding-bottom: 4px;
}

/* RESPONSIVE CODE */
@media only screen and (min-width: 2300px) and (max-width: 2760px) {
  th {
    font-size: 35px;
  }
  td {
    font-size: 30px;
  }
  .company-logo img {
    width: 250px;
  }
  .date-info p {
    font-size: 40px;
  }
  .header h1 {
    font-size: 65px;
  }
  .paragraph-1,
  .paragraph-9 {
    font-size: 30px;
    padding: 45px 0;
  }
  .paragraph-2,
  .paragraph-10 {
    font-size: 65px;
  }
  .paragraph-3,
  .paragraph-11 {
    font-size: 25px;
    padding: 20px 0;
  }
  .paragraph-4,
  .paragraph-12 {
    font-size: 35px;
  }
  .paragraph-5,
  .paragraph-6,
  .paragraph-7,
  .paragraph-8 {
    font-size: 25px;
  }
  .queue-indicators {
    width: 100%;
    margin: 50px 0;
  }
  .upper-queues,
  .lower-queues,
  .charts {
    height: 32%;
  }
  #piechart_3d,
  #columnchart_material {
    height: 400px;
  }
  .queue-1-header p,
  .queue-2-header p,
  .queue-3-header p,
  .queue-4-header p {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  table {
    height: 106%;
  }
  th {
    height: 60px;
  }
  .icon-1,
  .icon-2,
  .icon-3,
  .icon-4 {
    width: 48px;
    height: 48px;
  }
  .icon-1-text,
  .icon-2-text,
  .icon-3-text,
  .icon-4-text {
    font-size: 35px;
  }
  .icon-1 {
    top: 27%;
    left: 39%;
  }
  .icon-2 {
    top: 47%;
    left: 39%;
  }
  .icon-3 {
    top: 28%;
    right: 35%;
  }
  .icon-4 {
    top: 47%;
    right: 35%;
  }
  .icon-1-text {
    top: 28%;
    left: 49%;
  }
  .icon-2-text {
    top: 47%;
    left: 49%;
  }
  .icon-3-text {
    top: 28%;
  }
  .icon-4-text {
    top: 47%;
  }
  .queue-indicators img {
    width: 50px;
  }
  .queue-indicators ul li p {
    padding-left: 8px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    height: 100%;
  }
}
@media only screen and (min-width: 1910px) and (max-width: 2300px) {
  .paragraph-1,
  .paragraph-9 {
    font-size: 20px;
    padding: 13px 0;
  }
  .paragraph-2,
  .paragraph-10 {
    font-size: 40px;
  }
  .paragraph-4,
  .paragraph-12 {
    font-size: 25px;
  }
  .paragraph-3,
  .paragraph-11 {
    padding: 15px 0;
    font-size: 20px;
  }
  #piechart_3d,
  #columnchart_material {
    height: 350px;
  }
  .paragraph-5,
  .paragraph-6,
  .paragraph-7,
  .paragraph-8 {
    font-size: 20px;
  }
  td {
    font-size: 25px;
    padding: 0;
  }
  th {
    padding: 0%;
    height: 48px;
    font-size: 28px;
  }
  td img {
    padding: 15px;
  }
  .queue-1-header p,
  .queue-2-header p,
  .queue-3-header p,
  .queue-4-header p {
    font-size: 27px;
  }
  .icon-1,
  .icon-2,
  .icon-3,
  .icon-4 {
    width: 35px;
    height: 35px;
  }
  .icon-1-text,
  .icon-2-text,
  .icon-3-text,
  .icon-4-text {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 1910px) {
  .paragraph-1,
  .paragraph-9 {
    font-size: 21px;
    padding: 20px 0;
  }
  .paragraph-3,
  .paragraph-11 {
    font-size: 21px;
    padding: 10px 0;
  }
  .paragraph-2,
  .paragraph-10 {
    font-size: 40px;
  }
  .paragraph-5,
  .paragraph-6,
  .paragraph-7,
  .paragraph-8 {
    font-size: 20px;
  }
  .upper-queues,
  .lower-queues,
  .charts {
    height: 32%;
  }
  table {
    height: 98%;
  }
  .icon-1-text,
  .icon-2-text,
  .icon-3-text,
  .icon-4-text {
    font-size: 25px;
  }
  .icon-1,
  .icon-2,
  .icon-3,
  .icon-4 {
    width: 35px;
    height: 35px;
  }
  th {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1700px) {
  .upper-queues,
  .lower-queues,
  .charts {
    height: 28%;
  }
  .queue-indicators img {
    width: 30px;
  }
  .queue-indicators ul li p {
    font-size: 23px;
  }
  .paragraph-1,
  .paragraph-9 {
    font-size: 18px;
    padding: 16px 0;
  }
  .paragraph-3,
  .paragraph-11 {
    font-size: 18px;
  }
  .paragraph-4,
  .paragraph-12 {
    font-size: 23px;
  }
  .queue-1-header p,
  .queue-2-header p,
  .queue-3-header p,
  .queue-4-header p {
    font-size: 23px;
  }
  td {
    font-size: 20px;
  }
}
@media (max-width: 1440px) {
  .queue-1-header p,
  .queue-2-header p,
  .queue-3-header p,
  .queue-4-header p {
    font-size: 23px;
  }
  #piechart_3d,
  #columnchart_material {
    height: 180px;
  }
}
@media (max-width: 1080px) {
  .queue-1-header p,
  .queue-2-header p,
  .queue-3-header p,
  .queue-4-header p {
    font-size: 20px;
  }
  .main-container {
    display: block;
  }
  .date-info p {
    font-size: 20px;
  }
  .services-section {
    width: 100%;
  }
  .table {
    width: 100%;
    margin: 10px 0px;
  }
  .paragraph-1 {
    padding: 7px 0;
  }
  .paragraph-9 {
    padding: 7px 0;
  }
  .paragraph-3 {
    padding: 4px 0;
  }
  .paragraph-11 {
    padding: 4px 0;
  }
  #piechart_3d,
  #columnchart_material {
    height: 230px;
  }
  #piechart_3d-outer,
  #columnchart_material-outer {
    padding-bottom: 25%;
  }
}
@media (max-width: 962px) {
  #piechart_3d-outer,
  #columnchart_material-outer {
    padding-bottom: 30%;
  }
}
@media (max-width: 820px) {
  #piechart_3d-outer,
  #columnchart_material-outer {
    padding-bottom: 33%;
  }
}
@media (max-width: 720px) {
  .date-info p {
    font-size: 20px;
  }
  .header h1 {
    font-size: 35px;
  }
  .queue-indicators ul li {
    align-items: center;
  }
  .queue-indicators ul li p {
    font-size: 12px;
  }
  .queue-1-wrapper,
  .queue-2-wrapper,
  .queue-3-wrapper,
  .queue-4-wrapper {
    width: 100%;
    margin: 10px 0;
  }
  .upper-queues,
  .lower-queues,
  .charts {
    display: block;
  }
  .icon-1,
  .icon-3 {
    top: 30%;
  }
  .icon-1-text,
  .icon-3-text {
    top: 32%;
  }
  .icon-4 {
    width: 24px;
    height: 24px;
  }
  #piechart_3d-outer,
  #columnchart_material-outer {
    width: 100%;
  }
  #columnchart_material-outer {
    padding-bottom: 40%;
  }
}
@media (max-width: 624px) {
  th {
    padding: 4px 3px;
    font-size: 14px;
  }
  td {
    padding: 4px 3px;
    font-size: 12px;
  }
  .company-logo img {
    width: 120px;
  }
  .header h1 {
    font-size: 25px;
  }
  .date-info p {
    font-size: 15px;
  }
  .queue-indicators {
    display: none;
  }
  .mobile-indicators {
    display: block;
    width: 65%;
    margin: auto;
  }
  .mobile-indicators img {
    width: 25px;
  }
  .mobile-indicators ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
  }
  .mobile-indicators ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mobile-indicators ul li p {
    padding-left: 8px;
  }
  .upper-indicators {
    width: 100%;
  }
  .lower-indicators {
    width: 100%;
  }
  #piechart_3d,
  #columnchart_material {
    height: 180px;
  }
}
@media (max-width: 480px) {
  th {
    padding: 4px 0px;
    font-size: 12px;
  }
  td {
    padding: 4px 3px;
    font-size: 8px;
  }
  td img {
    width: 6px;
  }
  .mobile-indicators {
    width: 80%;
  }
  .company-logo img {
    width: 100px;
  }
  .header h1 {
    font-size: 20px;
  }

  #piechart_3d-outer,
  #columnchart_material-outer {
    padding-bottom: 50%;
  }
  #piechart_3d,
  #columnchart_material {
    height: 200px;
  }
}
