@charset "UTF-8";
/* CSS Document */

*{ margin: 0; padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{ font-family: 'Outfit', sans-serif; font-family: 'Roboto', sans-serif;}
img{ max-width:100%;}

.text-size{ font-size:14px;}
.indicators ul li img, .queue-content .icon img{ width: 30px; height: 30px;}
.num { font-weight: 500; font-size: 32px; margin-bottom: 0;}
.text-margin{ margin: 0;}
.col-lg-4{ padding-left: 0;}
#pieChart-outer,
#barChart-outer{ margin:30px 0 0 0; height: 165px;box-shadow: 0 6px 12px #99738e;}


.header{  min-height:98px; border-bottom:1px solid #dcdcdc; display:flex;flex-direction: row;justify-content: space-around; align-items:center;}
.page-title{ text-align:center; margin:0; color:#384A59; font-size:32px; font-weight:bold;}
.header .time { text-align: right; color: #384A59; font-size: 22px; font-weight: bold; display: block; line-height: 28px;}
.header .time img{ margin:5px 10px 0 0; vertical-align:top}

.table-responsive{margin:30px 0 0 0; box-shadow: 0 6px 12px #99738e;}
.table{ margin-bottom: 0;}
.table-responsive .table tr th{border: 0; color: #fff; background: #ff6672; font-size: 18px; font-weight: 500; padding: 8px 10px;}
.table-responsive .table tr td{ padding:8px 6px; color:#fff; padding-right:2px;}
.table-responsive .table tr td:nth-child(1){ display: flex;flex-direction: row ;}
.table-responsive .table tr td img{ margin-right:15px; width:10px;}
.table-responsive .table tr:nth-child(even){background-color: #553d67;}
.table-responsive .table tr:nth-child(odd){background-color: #99738e;}

.queue-bg{ margin:30px 0 0 0; background: #553d67; box-shadow: 0 6px 12px #99738e;}
.queue-header{border: 0; color: #fff; background: #ff6672; font-size: 18px; font-weight: 500; padding: 8px 10px; text-align: center;}
.queue-header p {margin: 0;}
.queue-content{ display: flex; flex-direction: row; color: #fff;}
.queue-content .queue-col{ width: 25%; padding: 3px;  text-align: center;background-color: #553d67;display: flex;flex-direction: column; justify-content: space-between;}
.queue-content .queue-col:nth-child(1){background-color: #99738e;}
.queue-content .icon{display: flex;flex-direction: row;justify-content: space-evenly;align-items: center;}
.queue-content .icon ul{ list-style: none;}
.queue-upper{height: 50%;}

.indicators{ margin: 30px 0 0 0;}
.indicators ul{ list-style: none; display: flex; flex-direction: row;    padding: 0; margin: 0;}
.indicators ul li{ width: 25%; display: flex; flex-direction: row; justify-content: space-evenly;align-items: center;}

/* RESPONSIVE CODE */

@media (max-width: 2964px){
.text-size {font-size: 27px;}
.num {font-size: 50px;}
.table-responsive .table tr th, .queue-header p{ font-size: 32px;}
.page-title{ font-size: 80px;}
#pieChart-outer,#barChart-outer{ height: 250px;}
.indicators ul li img, .queue-content .icon img {width: 45px;height: 45px;}
}
@media (max-width: 2350px){
.num {font-size: 40px;}
.text-size {font-size: 24px;}
}
@media (max-width: 2000px){
.text-size {font-size: 20px;}
.num {font-size: 30px;}
.indicators ul li img, .queue-content .icon img {width: 35px;height: 35px;}
.table-responsive .table tr th, .queue-header p{ font-size: 27px;}
}
@media (max-width: 1720px){
.text-size {font-size: 16px;}
.num {font-size: 24px;}
.indicators ul li img, .queue-content .icon img {width: 30px;height: 30px;}
.page-title {font-size: 55px;}
.table-responsive .table tr th, .queue-header p{ font-size: 24px;}
}
@media (max-width: 1440px){
.text-size {font-size: 14px;}
.num {font-size: 22px;}
.table-responsive .table tr th, .queue-header p{ font-size: 21px;}
#pieChart-outer, #barChart-outer {height: 210px;}
}
@media (max-width: 1200px){
.text-size {font-size: 28px;}
.num {font-size: 40px;}
.indicators ul li img,.queue-content .icon img {width: 55px;height: 55px;}
#pieChart-outer, #barChart-outer {height: 300px;}
.indicators ul{box-shadow: 0 6px 12px #99738e;padding: 10px 3px; border-radius: 50px; flex-wrap: wrap;}
.indicators ul li{ width: 50%;justify-content: left;}
.indicators ul li img{margin: 0 0 0 60px;}
.indicators ul li p{margin: 0 0 0 40px;}
.table-responsive .table tr th, .queue-header p {font-size: 36px;}
.col-lg-4{ padding: 20px;}
}
@media (max-width: 1100px){
.page-title {font-size: 38px;}
}
@media (max-width: 825px){
.text-size {font-size: 22px;}
.num {font-size: 40px;}
.table-responsive .table tr th, .queue-header p {font-size: 30px;}
.indicators ul li img, .queue-content .icon img {width: 40px;height: 40px;}
.indicators ul li p {margin: 0 0 0 20px;}
.page-title {font-size: 32px;}
}
@media (max-width:670px){
.text-size {font-size: 18px;}
.num {font-size: 32px;}
.table-responsive .table tr th, .queue-header p {font-size: 24px;}
.indicators ul li img {margin: 0 0 0 40px;}
}
@media (max-width:580px){
.indicators ul li img {margin: 0 0 0 20px;}
.num {font-size: 24px;}
.table-responsive .table tr th, .queue-header p {font-size: 20px;}
.indicators ul li img, .queue-content .icon img {width: 25px;height: 25px;}
#pieChart-outer, #barChart-outer {height: 180px;}
}
@media (max-width:500px){
.text-size {font-size: 14px;}
.indicators ul li p {margin: 0 0 0 15px;}
.indicators ul li img {margin: 0 0 0 15px;}
.num {font-size: 20px;}
}
@media (max-width:425px){
.text-size {font-size: 10px;}
.num {font-size: 16px;}
.table-responsive .table tr th, .queue-header p {font-size: 16px;}
}
@media (max-width:375px)
{
.indicators ul li p {margin: 0 0 0 7px;}
.indicators ul li img {margin: 0 0 0 7px;}
#pieChart-outer, #barChart-outer {height: 150px;}
}